img {
    border: 5px solid gray;
    border-radius: 50%;
    height: 70px;
}
body {
    background-image: url(plant.jpg);
    padding: 20px;
}
div {
    background-color: rgb(109, 151, 111);

}
.title {
    padding: 20px;
    text-align: center;
}
.about{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.footer {
    padding: 20px;
}